/* global */
body {
    font-size: 12px;
    margin: 0;
    padding: 0;
}
input {
    margin: 0;
    padding: 0;
}

/* canvas area */
div.view-hierarchy-area {
    position: absolute;
    top: 0;
    bottom: 30px;
    left: 0;
    right: 0;
}
#canvas-frame {
    width: 100%;
    height: 100%;
}

/* sidebar */
.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: #f2f2f2;
    display: none;
}
.sidebar.active {
    display: block;
    width: 300px;
}
.sidebar.navigation-sidebar {
    left: 0;
}
.sidebar.property-sidebar {
    right: 0;
}
.sidebar .container {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: scroll;
    height: 100%;
}
.navigation-sidebar .container {
    left: 0;
    right: 3px;
}
.property-sidebar .container {
    left: 3px;
    right: 0;
}
.sidebar ul {
    list-style-type: none;
    margin: 0;
}
.sidebar .split-handler {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    cursor: col-resize;
}
.navigation-sidebar .split-handler {
    right: 0;
    border-right: 1px solid #e0e0e0;
}
.property-sidebar .split-handler {
    left: 0;
    border-left: 1px solid #e0e0e0;
}
#view-hierarchy-list ul {
    padding: 0 0 0 10px;
}
#view-hierarchy-list li {
    white-space: nowrap;
    line-height: 35px;
    cursor: pointer;
}
#view-hierarchy-list li.active {
    background-color: #dad5d5;
}
#view-hierarchy-list li span {
    border-left: 1px solid;
    padding-left: 4px;
    display: inline-block;
}
#view-property-list ul {
    padding: 0;
}
#view-property-list img {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* toolbar */
#canvas-toolbar {
    position: absolute;
    height: 30px;
    bottom: 0;
    left: 300px;
    right: 0;
    background-color: #f0f0f0;
}
#canvas-toolbar .control-tool {
    display: none;
}
#canvas-toolbar .control-tool.available {
    display: inline-block;
}
#canvas-toolbar .control-tool.depth-unit {
    position: absolute;
    left: 5px;
    width: 130px;
    top: 0;
    bottom: 0;
}
#canvas-toolbar input[type="range"] {
    display: block;
    width: 100%;
    height: 100%;
}
#canvas-toolbar .tools-collection {
    display: block;
    width: 100px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#canvas-toolbar button.control-tool {
    width: 24px;
    height: 24px;
    margin-top: 3px;
    padding: 4px 0 0 0;
    text-align: center;
}
#canvas-toolbar button div,
#canvas-toolbar button div img {
    width: 13px;
    height: 13px;
}
#canvas-toolbar button div {
    display: inline-block;
    overflow: hidden;
}
#canvas-toolbar button div img {
    display: inline-block;
    position: relative;
}
/* area control */
#canvas-toolbar .area-control-collection {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    width: 100px;
}
#canvas-toolbar .area-control-collection button {
    width: 27px;
    height: 24px;
    margin-top: 3px;
    padding: 1px 0 0 0;
    text-align: center;
}
#canvas-toolbar .area-control-collection button div,
#canvas-toolbar .area-control-collection button div img {
    width: 25px;
    height: 20px;
}
#canvas-toolbar button.navigator-control,
#canvas-toolbar button.utilities-control {
    position: absolute;
    top: 0;
    bottom: 0;
}
#canvas-toolbar button.navigator-control {
    right: 32px;
}
#canvas-toolbar button.utilities-control {
    right: 0;
}
#canvas-toolbar .tools-collection button.selected img {
    left: -13px;
    border-right: 13px solid transparent;
    filter: drop-shadow(13px 0 0 rgb(53, 130, 242));
}
#canvas-toolbar .area-control-collection button.selected img {
    left: -25px;
    border-right: 25px solid transparent;
    filter: drop-shadow(25px 0 0 rgb(53, 130, 242));
}
