#notification-group {
    position: absolute;
    top: 0;
    height: auto;
    right: 0;
    width: 300px;
    z-index: 1;
    overflow-y: scroll;
}
.notification {
    float: right;
    width: 250px;
    height: 70px;
    background-color: rgba(111, 111, 111, 0.8);
    margin: 10px 10px 0 10px;
    border-radius: 8px;
    color: white;
}
